name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '1.19'

    - name: Get dependencies
      run: go get -v -t -d ./...
    - name: go build
      run: go build -v
    - name: go test
      run: go test -test.v -race -cover
